
h1{
    color: rgb(246, 252, 252);
}

h2{
    color: rgb(246, 252, 252); 
}

tr, td, th{
    padding: 10px;
    border: 1px solid black;
}

#eventBox{
    width:400px;

}

body{
    background: url(salmon.png);
    background-repeat: repeat;
}

tr{
    background-color:#33CCCC;

}

#locationData {
    display: flex; 
    justify-content: center;
}

#storeData {
    display: flex;
    width: 74%;
    justify-content: center;
    padding: 50px;
    text-align: center;
    background-color: aliceblue;
}

.center {
    display: flex;
    justify-content: center;
}